<div id="<%= dom_id problem %>">
  <p class="my-5">
    <strong class="text-center block font-medium mb-1"><%= problem.title %></strong>
  </p>

  <div class="flex flex-initial w-4/5 mx-auto gap-0.5">
    <%= display_clickable_tiles(problem.tiles, ' hover:bottom-5 relative ', problem) %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this problem", problem, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this problem", edit_problem_path(problem), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
