<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div id="<%= dom_id @problem %>">
      <p class="my-5">
        <strong class="text-center block font-medium mb-1"><%= @problem.title %></strong>
      </p>
      <div class="flex flex-initial gap-0.5 mb-1">
        <% if @solve.nil? %>
          <%= display_clickable_tiles(@problem.hand_tiles_to_s, 'hover:bottom-5 relative', @problem) %>
        <% else %>
          <%= display_tiles_divs(@problem.hand_tiles_to_s) %>
        <% end %>
      </div>


    </div>

    <% unless @solve.nil? %>

      <div class="text-center bg-gray-200 rounded-lg w-1/2 mx-auto">
        <p id="solved-message">
          <% if @problem.is_solved_by? @solve.tile %>
            <span data-testid="solve-tile"><%= @solve.tile %></span>: Correct answer!
          <% else %>
            <span data-testid="solve-tile"><%= @solve.tile %></span>: Incorrect answer
          <% end %>
        </p>
      </div>
      <div class="my-5">
        <strong class="block font-medium mb-1">Solution:</strong>
        <p id="solution">
          <%= display_tiles(@problem.solution_tiles_to_s, 'w-10') %>
        </p>
      </div>

      <div class="my-5">
        <strong class="block font-medium mb-1">Explanation:</strong>
        <p id="explanation">
          <%= display_tiles(@problem.explanation, 'w-7') %>
        </p>
      </div>

    <% end %>

    <%= link_to "Edit this problem", edit_problem_path(@problem), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to problems", problems_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
