<div id="<%= dom_id solve %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Tile Notation:</strong>
    <%= solve.tile_notation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Problem:</strong>
    <%= solve.problem_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= solve.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this solve", solve, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this solve", edit_solve_path(solve), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
